<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Неясыть | Сообщества</title>
	{% include 'config.html' %}
	<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
           
			function getUrlParameter(name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            };
			
			String.format = function() {
                var s = arguments[0];
                for (var i = 0; i < arguments.length - 1; i++) {
                    var reg = new RegExp("\\{" + i + "\\}", "gm");
                    s = s.replace(reg, arguments[i + 1]);
                }
                return s;
            }    
			
			namespace = '/home';
            var socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('connected', {data: 'connected to the SocketServer...', socketid:''+socket.id});
            });

			

			socket.on('reload', function(cb) {
                window.location.replace(window.location.pathname)
            });
			

			function addCommunitiesList(json) { <!-- Функция вывода сообществ -->
				for (const element of json) {
					$('#community-container').append(
						'<a href="/community/'+element.unique_name+'" class="name-friend link-full">'+
							'<div class="link-community">'+
								'<img src="'+element.url_photo+'" style="grid-area: A; width: 30px; height: 30px; border-radius: 100px; margin-left: 15px;" alt="">'+
								'<div style="grid-area: B;" class="name">'+element.name+'</div>'+
								'<div style="grid-area: C;font-size: 0.7em;color: #ffffff99;" class="name">Подписчиков: '+element.sub_count+'</div>'+
							'</div>	'+
						'</a>'
					);
				}	
			};

			var timeoutHandle;
			var community_container = "";

			$('#search-friend').bind('input', function() { 
				value = $(this).val();
				window.clearTimeout(timeoutHandle);
				if (value != "")
					timeoutHandle = setTimeout(function(){ searchFriends(value); }, 2000);
				else
					timeoutHandle = setTimeout(function(){ restoreFriends(); }, 2000);
			});

			function searchFriends(value) { <!-- Функция поиска сообществ -->
				socket.emit('search_community_request', {data:value});
			};

			function restoreFriends() {
				document.getElementById("community-container").innerHTML = community_container;
			};

			socket.on('found_communities', function(msg) {
				console.log('found communities')
				if(community_container == "")
					community_container = document.getElementById("community-container").innerHTML;
                document.getElementById("community-container").innerHTML = '';
				addCommunitiesList(JSON.parse(msg.data));
				if(document.getElementById("community-container").children.length == 0)
					document.getElementById("community-container").innerHTML = '<div class="time">Ничего не найдено</div>'
            });


			const my_groups = $('#my-groups');

			my_groups.prepend(
				'<a href="/create-community" class="name-friend link-full">'+
					'<div class="link-community">'+
						'<img src="/static/images/neyasit_group_add.png" style="grid-area: A; width: 30px; height: 30px; border-radius: 100px; margin-left: 15px;" alt="">'+
						'<div style="grid-area: B;" class="name">Создать сообщество</div>'+
					'</div>	'+
				'</a>'
			);

        });
    </script>
</head>
<body>
	<div id="current_user_login" style="display: none;">{{ current_user.login }}</div>
	{% include 'header.html' %}
	<div class="content">
		{% include 'left-panel.html' %}
		<div class="right-panel" style=" display: grid; grid-template-columns: 50% auto;">
			<div class="messages-layout" style="border-right: 1px solid; border-color: #724C9D; ">
				<div class="header-panel" style="justify-content: flex-start;">
					<div class="search"> <i class="fa fa-search" style="margin-left: 18px;"></i>
						<input id="search-friend" type="text" name="search" placeholder="Поиск сообществ" style="outline: none!important;width: 200px;background-color: transparent;color: white;" />
					</div>
				</div>
				<div class="Transition slide">
					<div class="Transition__slide--active">
						<div class="FriendList custom-scroll">
							<div id="community-container" class="chats-container">
								<div class="time">
									Рекомендации
								</div>	
								<hr style="display: block;border: 0;border-top: 1px solid #724c9d7a;padding: 0;margin: 9px 15px 0px 15px;">
								{% if recomendations %}
									{% for recomendation in recomendations %}
										<a href="/community/{{ recomendation.unique_name }}" class="name-friend link-full">
											<div class="link-community">
												<img src="{{ recomendation.url_photo }}" style="grid-area: A; width: 30px; height: 30px; border-radius: 100px; margin-left: 15px;" alt="">
												<div style="grid-area: B;" class="name">{{ recomendation.name }}</div>
												<div style="grid-area: C;font-size: 0.7em;color: #ffffff99;" class="name">Подписчиков: {{ recomendation.sub_count }}</div>
												{% set moderators = recomendation.moderators | to_dict %}
												{% if recomendation.creator == user.login %}
													<div style="grid-area: X;font-size: 0.7em;color: #ffffff99;margin-left: 2px;" class="name">(Вы создатель)</div>
												{% elif user.login in moderators %}
													<div style="grid-area: X;font-size: 0.7em;color: #ffffff99;margin-left: 2px;" class="name">(Вы модератор)</div>
												{% endif %}
											</div>	
										</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="messages-layout">
				<div class="header-panel" style="justify-content: flex-start;">
					<div class="header-name" style="margin-left: 10px">
						<div style="font-size: 1.3em; margin-left: 10px; margin-top: 3px;">Мои сообщества</div>
					</div>
				</div>
				<div class="Transition slide">
					<div class="Transition__slide--active">
						<div class="FriendList custom-scroll">
							<div id="my-groups" class="chats-container">
								{% if communities %}
									{% for community in communities %}
										<a href="/community/{{ community.unique_name }}" class="name-friend link-full">
											<div class="link-community">
												<img src="{{ community.url_photo }}" style="grid-area: A; width: 30px; height: 30px; border-radius: 100px; margin-left: 15px;" alt="">
												<div style="grid-area: B;" class="name">{{ community.name }}</div>
												<div style="grid-area: C;font-size: 0.7em;color: #ffffff99;" class="name">Подписчиков: {{ community.sub_count }}</div>
												{% set moderators = community.moderators | to_dict %}
												{% if community.creator == user.login %}
													<div style="grid-area: X;font-size: 0.7em;color: #ffffff99;margin-left: 2px;" class="name">(Вы создатель)</div>
												{% elif user.login in moderators %}
													<div style="grid-area: X;font-size: 0.7em;color: #ffffff99;margin-left: 2px;" class="name">(Вы модератор)</div>
												{% endif %}
											</div>	
										</a>
									{% endfor %}
								{% else %}
										<div class="time">
											Вы не подписаны ни на одно сообщество
										</div>	
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>