<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Группа | {% if group %}{{ group['name'] }}{% endif %}</title>
	{% include 'config.html' %}
	<script>
		$(document).ready(function() {
			function declOfNum(n, text_forms) { <!-- Функция для определения падежа -->
				n = Math.abs(n) % 100; 
				var n1 = n % 10;
				if (n > 10 && n < 20) { return text_forms[2]; }
				if (n1 > 1 && n1 < 5) { return text_forms[1]; }
				if (n1 == 1) { return text_forms[0]; }
				return text_forms[2];
			}

			String.prototype.like = function(search) {
				if (typeof search !== 'string' || this === null) {return false; }
				// Remove special chars
				search = search.replace(new RegExp("([\\.\\\\\\+\\*\\?\\[\\^\\]\\$\\(\\)\\{\\}\\=\\!\\<\\>\\|\\:\\-])", "g"), "\\$1");
				// Replace % and _ with equivalent regex
				search = search.replace(/%/g, '.*').replace(/_/g, '.');
				// Check matches
				return RegExp('^' + search + '$', 'gi').test(this);
			}

			$('#pc').html(declOfNum(Number(document.getElementById('pv').innerText), ['подписчик', 'подписчика', 'подписчиков']));
			$('#dc').html(declOfNum(Number(document.getElementById('dv').innerText), ['пост', 'поста', 'постов']));


			const el = document.getElementById('contenteditable');
			if (el != null)
			{
				el.addEventListener('input', () => check(el.innerHTML));
				function check(t){if(t!=''){el.classList.remove("ph")}else{el.classList.add("ph")}}
			}

			namespace = '/home';
            var socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('connected', {data: 'connected to the SocketServer...', socketid:''+socket.id});
            });

			socket.on('my_response', function(msg, cb) {
                console.log(msg.chat_id)
                var notification = new Audio('/static/sound/notification.mp3');
                notification.play();
            });

			socket.on('reload', function(cb) {
                window.location.reload();
            });

			
			const sub = document.getElementById('sub');
			if (sub != null)
			{
				sub.addEventListener('click', function(ev)
				{
					socket.emit('sub', {login:"{{ user.login }}",data:"{{ group.unique_name }}"});
				});
			}

			const unsub = document.getElementById('unsub');
			if (unsub != null)
			{
				unsub.addEventListener('click', function(ev)
				{
					socket.emit('unsub', {login:"{{ user.login }}",data:"{{ group.unique_name }}"});
				});
			}
			

			const pp = document.getElementById('publish-post');
			const publish_post_theme = document.getElementsByName("publish-theme")[0];
			const publish_post_age = document.getElementsByName("publish-age")[0];
			if (pp != null)
			{
				pp.addEventListener('click', function(ev)
				{
					value = "{{ group['unique_name'] }}";

					addition = "[]";

					text = el.innerHTML.replaceAll('<div>', '\n').replaceAll('</div>', '').replaceAll('<br>','');
					
					if(images.length > 0)
						addition = "true";
					else if (docs.length > 0)
						addition = "true";
					console.log(images);
					console.log(docs);

					file = [];

					for (var x = 0; x < images.length; x++) {
						file.push("image"+"_"+x+"_"+Date.now()+"_"+images[x].lastModified+"_"+images[x].size+"_"+images[x].name);
					}

					for (var x = 0; x < docs.length; x++) {
						file.push("doc"+"_"+x+"_"+Date.now()+"_"+docs[x].lastModified+"_"+docs[x].size+"_"+docs[x].name);
					}

					if(file.length != 0) 
					{
						addition = JSON.stringify(file);
					}

					console.log(JSON.stringify(file));

					dict = []

					for(var x = docs.length; x > 0; x--) {
						dict["doc"+(x-1)] = file.pop();
					}

					for(var x = images.length; x > 0; x--) {
						dict["img"+(x-1)] = file.pop();
					}
					console.log(dict);

					post_theme_id = 1;
					post_age_id = 1;

					if (publish_post_theme != null)
						post_theme_id = publish_post_theme.value;
					if (publish_post_age != null)
						post_age_id = publish_post_age.value;

					socket.emit('group_publish_post', {login:value,text:text,addition:addition,post_theme:post_theme_id,post_age:post_age_id});

					upload_file(dict,true,"{{ group['id'] }}");
				});
			}
			
			const delete_posts = document.querySelectorAll("#delete-post");

			delete_posts.forEach((e) => {
				e.addEventListener('click', function(ev)
				{
					value = "{{ group['unique_name'] }}";

					id = e.name.split('-')[1];

					socket.emit('group_delete_post', {login:value,id:id});
				});
			});
			
			const like_buttons = document.querySelectorAll("#like-button");

			like_buttons.forEach((e) => {
				e.addEventListener('click', function(ev)
				{
					value = "{{ user.login }}";

					id = e.name.split('_')[1];

					socket.emit('like_click', {login:value,id:id});
				});
			});

			socket.on('like_set', function(msg) {

				let post = document.getElementsByName('id_'+msg.post_id)[0];

				post.getElementsByTagName('div')[1].innerText = msg.likes;
				
				if (msg.up)
					post.getElementsByTagName('i')[0].classList.replace('fal','fa');
				else
					post.getElementsByTagName('i')[0].classList.replace('fa','fal');
            });

			var timeoutHandle;
			var posts_container;

			$('#search-post').bind('input', onChangeSearch);

			$('#theme').change(onChangeSearch);
			$('#age').change(onChangeSearch);

			function onChangeSearch() 
			{
				value = $('#search-post').val();
				window.clearTimeout(timeoutHandle);
				if ((value == "") && ($('#theme').val() == 1) && ($('#age').val() == 1))
					timeoutHandle = setTimeout(function(){ restorePosts(); }, 2000);
				else
					timeoutHandle = setTimeout(function(){ searchPost(value,$('#theme').val(),$('#age').val()); }, 2000);
			};

			const profile_wall = document.querySelectorAll("#profile-wall")[0];

			function searchPost(value,theme,age) { <!-- Функция поиска -->
				console.log('found posts')
				console.log(value)
				console.log(theme)
				console.log(age)
				if (posts_container == null)
					posts_container = Array.from(document.getElementsByName("post"));
				deletePosts();
				filterPosts(value,theme,age).forEach(e => {profile_wall.appendChild(e);});;
				//addPostsList(JSON.parse(msg.data));
				if(document.getElementsByName("post").length == 0)
					console.log('Ничего не найдено');
				//socket.emit('search_posts_request', {text:value,theme_id:theme,age_id:age,group_name:"{{ group['unique_name'] }}"});
			};

			function deletePosts() { <!-- Функция удаления поста -->
				let posts = Array.from(document.getElementsByName("post"));
				posts.forEach(e => {e.remove();});
			};

			const themes = JSON.parse((('{{ themes_serialize }}').replaceAll('&#39;','\"')));
			const ages = JSON.parse((('{{ ages_serialize }}').replaceAll('&#39;','\"')));

			function filterPosts(value,theme,age) { <!-- Функция фильтра поста -->
				let posts = Array.from(posts_container);
				console.log(posts)
				save_val = value
				value = "%" + value + "%"
				let new_posts = [];
				posts.forEach(e => {
					let post_theme_id = 1;
					
					//theme
					let post_theme_text = e.getElementsByClassName("tpost")[0].innerHTML;
					for (const element of themes) {
						if (element.theme == post_theme_text)
						{
							post_theme_id = element.id;
						}
					}	

					let post_age_id = 1;

					//age
					let post_age_text = e.getElementsByClassName("apost")[0].innerHTML;
					for (const element of ages) {
						if (element.age == post_age_text)
						{
							post_age_id = element.id;
						}
					}

					let push = false;

					//text
					let post_text = e.getElementsByClassName("textpost")[0].textContent.replaceAll("\n","");
					console.log(post_text)
					if(post_text.like( value))
					{
						push = true;
					}
					else
					{
						if(save_val == "")
						{
							if ((theme == post_theme_id) || (age == post_age_id))
								push = true;
						}
					}

					console.log(post_theme_id)
					console.log(post_age_id)

					if (theme != 1)
						if (theme != post_theme_id)
							push = false;
					if (age != 1)
						if (age != post_age_id)
							push = false;
					
					if (push) new_posts.push(e);
					console.log(push)
				});
				return new_posts;
			};

			function restorePosts() {
				deletePosts();
				console.log(posts_container);
				posts_container.forEach(e => {profile_wall.appendChild(e);});
			};

			socket.on('found_posts', function(msg) {
				console.log('found posts')
				if (posts_container == null)
					posts_container = Array.from(document.getElementsByName("post"));
				deletePosts();
				addPostsList(JSON.parse(msg.data));
				if(document.getElementsByName("post").length == 0)
					console.log('Ничего не найдено');
            });

		});
	</script>
	
	<body class="custom-scroll">
		{% include 'header.html' %}
		{% if group %}
			<div class="content">
				{% include 'left-panel.html' %}
				<div id="profile-wall" style="width:50%">
					<div class="right-panel right-panel-profile" style=" display: grid; grid-template-columns: auto 275px; height:fit-content; margin-top:0;">
						<div class="messages-layout" style="border-right: 1px solid; border-color: #724C9D; ">
							<div class="header-panel" style="justify-content: flex-start; height: 65px">
								<div class="header-name" style="margin-left: 15px; margin-top: 3px;">
									<div style="font-size: 1.3em;">{{ group['name'] }}</div>
									<!-- <div class="search"> <i class="fa fa-search" style="margin-left: 30px;"></i>
										<input type="text" name="search" placeholder="Поиск" style="outline: none!important;width: 150px;background-color: transparent;color: white;">
									</div> -->
								</div>
							</div>
							<div class="chats-container" style="display: flex;flex-direction: column;align-content: space-between;width: -webkit-fill-available;height: -webkit-fill-available;">
								<div class="name-profile">
									<div class="link-profile">
										<div class="name" style="margin-left: 10px;">Создатель сообщества: </div>
										<div class="" style="margin-left: auto; margin-right: 10px;">{% if group['hide_creator'] == False %}<a style="text-decoration: underline;" href="/{{ group['creator'] }}">{{ group['creator'] }}</a>{% else %}скрыто{% endif %}</div>
									</div>
								</div>
								<div class="name-profile" style="height: 125px;">
									<div class="name" style="height: 125px; max-width: -webkit-fill-available; word-wrap: break-word;margin-left: 10px;">Описание: {{ group['desc'] }}</div>
								</div>
								<div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: auto;margin-bottom: 20px;">
									<div class="profile-stats">
										<div id="pv" class="counter">{{ group['sub_count'] | numbers_cut }}</div>
										<div id="pc" class="name-counter">подписчиков</div>
									</div>
									<div class="profile-stats">
										<div id="dv" class="counter">{{ group['post_count'] | numbers_cut }}</div>
										<div id="dc" class="name-counter">постов</div>
									</div>
								</div>
							</div>
						</div>
						<div class="messages-layout">	
							<div style="width: 275px; height:275px; justify-content: flex-start; border-bottom: none;">
								<img style="width: inherit;margin-left: 1px;height: inherit;border-top-right-radius: 15px;" src="{{ group.url_photo }}" alt="">
							</div>
							<div class="profile-bottom-button">
								{% if current_user.login == group.creator %}
									<a href="/community/{{group['unique_name']}}/settings" class="link-friend link-friend-profile">
										<div>Редактировать сообщество</div>
									</a>
								{% else %}
									{% if sub %}
										<a id="unsub" class="link-friend link-friend-profile">
											<div>Отписаться</div>
										</a>
									{% else %}
										<a id="sub" class="link-friend link-friend-profile">
											<div>Подписаться</div>
										</a>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
					
					{% if current_user.login == group.creator or current_user.login in moderators %}
						<div class="right-panel right-panel-profile">
							<div class="profile-post">
								<div class="ph post-write" id="contenteditable" contenteditable></div>
								<hr style="display: block;border: 0;border-top: 1px solid #724c9d5e;padding: 0;margin: 15px 15px 0px 15px;">
								<div class="post-images">
									
								</div>
								<div class="post-document">
									
								</div>
								<!-- <div type="button" onclick="upload_file()">ЗАГРУЗИТЬ</div> -->
								<div class="post-panel" style="border-top: 1px solid #724C9D;">	
									<select name="publish-theme" class="group-voz">
										{% for theme in themes %}
											<option value="{{ theme.id }}">{{ theme.theme }}</option>
										{% endfor %}
									</select>
									<select name="publish-age" class="group-voz">
										{% for age in ages %}
											<option value="{{ age.id }}">{{ age.age }}</option>
										{% endfor %}
									</select>
									<div class="profile-post-button" style="width:120px">
										<a id="publish-post" class="link-post-button" style="border-bottom-right-radius: 10px;">
											<div>Опубликовать</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}

					<div class="right-panel right-panel-profile">
						<div class="profile-post" style="display: flex; flex-direction: row; align-items: stretch;">
							<input id="search-post" class="input-comm" placeholder="Введите запрос..."></input>
							<!-- <div type="button" onclick="upload_file()">ЗАГРУЗИТЬ</div> -->
							<div class="post-panel">	
								<select id="theme" class="group-voz">
									{% for theme in themes %}
										<option value="{{ theme.id }}">{{ theme.theme }}</option>
									{% endfor %}
								</select>
								<select id="age" style="border-radius: 0px 15px 15px 0px;" class="group-voz">
									{% for age in ages %}
										<option value="{{ age.id }}">{{ age.age }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<script src="{{ url_for('static',filename='scripts/upload_files.js') }}"></script>
					{% if posts %}
						{% for post in posts %}
							<div name="post" class="right-panel right-panel-profile">
								<div class="profile-post">
									<div class="post-panel" style="border-bottom: 1px solid #724C9D;">
										<div class="profile-post-button" style="gap: 5px; margin-right: auto;margin-left: 15px;display: flex;justify-content: flex-start;flex-direction: row;align-items: center;">
											<i class="fal fa-calendar"></i>{{ post['send_time'].strftime("%d.%m.%Y %H:%M") }}
										</div>		
										
										<div class="profile-post-button" style="gap: 5px; margin-right: auto;display: flex;justify-content: flex-start;flex-direction: row;align-items: center;">
											<a style="cursor: default;" class="tpost">{{ themes[post.theme-1].theme }}</a> - <a style="cursor: default;" class="apost">{{ ages[post.age-1].age }}</a>
										</div>
										
										{% if current_user.login == group.creator or current_user.login in moderators or current_user.role > 0 %}	
											<div class="profile-post-button" style="width:120px">
												<a id="delete-post" name="post-{{ post['id'] }}" class="link-post-button">
													{% if current_user.role > 0%}<i class="fal fa-hammer flex-center" style="margin-right: 5px;"></i>{% endif %}<div>Удалить</div>
												</a>
											</div>
										{% endif %}

										{% set upthumb = false %}

										{% if post['id'] in likes %}
											{% set upthumb = true %}
										{% endif %}

										<div class="profile-post-button" style="width:60px;">
											<a id="like-button" name="id_{{ post['id'] }}" class="link-post-button" style="border-top-right-radius: 10px;">
												<div style="display: flex; gap: 3px; align-items: center;">
													<i class="fa{% if not upthumb %}l{% endif %} fa-thumbs-up"></i>
													<div style="font-size: 0.8em;">{{ post['count_likes'] | numbers_cut }}</div>
												</div>
											</a>
										</div>
									</div>

									<div class="post textpost">{{ post['text'] }}</div>

									<div class="post-images post-margin">
										{% for photo in photos %}
											{% set a = photo['id'] | int %}
											{% set t = post['addition'] | to_dict %}
											{% if a in t %}
												<div class="post-media">
													<img class="post-image" src="/static/storage/community/{{ photo['from_community'] }}/photo/{{ photo['saved_file_name'] }}" alt="image"/>
												</div>
											{% endif %}
										{% endfor %}
									</div>

									<div class="post-document post-margin">
										{% for document in documents %}
											{% set a = document['id'] | int %}
											{% set t = post['addition'] | to_dict %}
											{% if a in t %}
												<div class="post-doc">
													<i class="box-1 fas fa-file-alt"></i>
													<a href="/static/storage/community/{{ document['from_community'] }}/document/{{ document['saved_file_name'] }}" target="_blank" class="box-2 b2">{{ document['file_name'] }}</a>
													<div class="box-3 page_doc_description_row"><div class="page_doc_size"><script>document.write(getFileSize(Number("{{ document['file_size'] }}")));</script></div></div>
												</div>
											{% endif %}
										{% endfor %}
										
									</div>

								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% endif %}
	</body>
</html>