<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>Авторизация</title>
{% include 'config.html' %}
<script>
	function show_hide_password(target){
	var input = document.getElementById('password-input');
	if (input.getAttribute('type') == 'password') {
		target.classList.add('view');
		input.setAttribute('type', 'text');
	} else {
		target.classList.remove('view');
		input.setAttribute('type', 'password');
	}
	return false;
}
</script>
</head>
<body>
    <div style="height: 100%;">
        {% include 'flash/message_box.html' %}
        <div id="auth">
            <div id="neyasit"></div>
            <div style="font-size: 1.3em;">Авторизация</div>
            <form method="POST">
                <input type="text" class="input-sign" name="login" placeholder="Введите логин...">
                <div class="password">
                    <input class="input-sign"
                        type="password" 
                        name="password1"
                        id="password-input"
                        placeholder="Введите пароль..."
                    />
                    <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                </div>
                <div style="display: flex; gap: 20px;">
                    <a href="/recovery">Забыли пароль?</a>
                    <a href="/sign-up">Зарегистрироваться</a>
                </div>
                {% if not user.is_authenticated %}
                    <button class="btn btn_submit_sign" style="width: 60%;" type="submit">Вход</button>
                {% else %}
                    <button class="btn btn_submit_sign" disabled style="width: 60%;" type="submit">Вход</button>
                    <a href="/messenger">Вы уже авторизированы. Вернуться?</a>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>

{% include 'flash/jinja_addition.html' %}
